body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

#calculator {
    margin: 100px auto;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#calculate {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calculate:hover {
    background-color: #3e8e41;
}

#results {
    margin-top: 50px;
}

#results p {
    font-size: 18px;
    margin-bottom: 10px;
}